.header,
.footer,
.hero {
    background-color: #1F2937;
}

.reviews {
    background-color: #e5e7eb;
}

.contact {
    background-color: #3882f6;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right ul{
    display:flex;
    gap: 10px;
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 200px;
    text-align: center;
}

.left{
    font-size: 24px;
    color:#f9faf8;
    padding-left: 200px;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

#hero-title{
     font-size: 48px;
     font-weight: 900;
     color: #f9faf8;
}

#hero-subtitle {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
    text-align: justify;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 200px;
}

.text-part {
    padding-right: 100px;
}

.image-part img {
    height: 200px;
    width:auto;
}

.hero button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: 0px;
}

.content-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 30px;
}

.images{
    margin-bottom: 70px;
}

.images ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.images ul li div {
    width: 100px;
}

.images img{
    border: 3px solid rgb(10, 85, 136);
    border-radius: 10px;
    height: 100px;
    width: 100px;
}