.header,
.footer,
.hero {
    background-color: #1F2937;
}

.reviews {
    background-color: #e5e7eb;
}

.contact {
    background-color: #3882f6;
}

body{
    display: flex;
    flex-direction: column;

}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right ul{
    display:flex;
    gap: 10px;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 100px;
    text-align: center;
}

.left{
    font-size: 24px;
    color:#f9faf8;
    padding: 0 100px;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}